#hero{
    width: 100vw;
    height:100vh;
    padding-top: 1.1rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

#heroNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width:100%;
    padding:0px 22px;
    padding-right: 10px;
}


#heroNav h1,#heroNav h1 a{
    font-size: 1.2rem;
    font-weight: bold;
    color:#23022E;
    cursor:pointer
}

#heroNav img{
    display: none;
}

#navCenter,#navRight{
    display: flex;
    flex-direction: row;
}

#navRight{
    margin-right: 2.8rem;
}

#navCenter{
    gap: 5rem;
}

#navCenter h1 a:hover,#navRight h1 a:hover{
    color: rgb(223, 151, 17);
}


#heroPtext{
    position: absolute;
    color: #ffffff;
    width:60%;
    font-weight: bold;
    font-size: 7rem;
    line-height: 150px;
    top:10rem;
    left:4rem
}

#heroPtextO{
    position: absolute;
    width:15%;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.5rem;
    color: rgb(231, 230, 222);
    right: 10rem;
    bottom: 4rem;
}


@media (max-width: 1024px){
    #navCenter,#navRight{
        display:none
    }

    #heroNav img{
        display: block;
        width: 20px;
        height: 20px;
    }
    #hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80vh;
    }
    #heroNav{
        width:90%
    }
    #heroPtext{
        width: 80%;
        font-size: 1.7rem;
    }
}

@media(min-width:250px){
    #heroPtext{
        line-height: 50px;
        top:9rem;
        left:2rem
    }
    
    #heroPtextO{
        position: absolute;
        width:50%;
        font-size: 1rem;
        font-weight: bold;
        line-height: 20px;
        color: rgb(231, 230, 222);
        right: 2rem;
        bottom: 4rem;
    }
}

@media(min-width:475px){
    #heroPtext{
        font-size: 2rem;
        line-height: 35px;
    }
    
    #heroPtextO{
        font-size: 1.1rem;
        line-height: 20px;
    }
}

@media(min-width:640px){
    #heroPtext{
        font-size: 1.9rem;
        line-height: 33px;
    }
    
    #heroPtextO{
        font-size: 1rem;
        line-height: 22px;
    }
}

@media(min-width:768px){
    #heroPtext{
        font-size: 2.5rem;
        line-height: 40px;
    }
    #heroPtextO{
        right: 3rem;
    }
}

@media(min-width:1024px){
    #heroNav h1,#heroNav h1 a {
        font-size: 1rem;
    }
    #heroPtext{
        font-size: 2.8rem;
        line-height: 50px;
    }
    #heroPtextO{
        font-size: 1.2rem;
        line-height: 24px;
    }
    #navCenter h1 a {
        color: rgb(188, 212, 212)
    }
}

@media(min-width:1280px){
    #heroPtext{
        font-size: 3.5rem;
        line-height: 55px;
    }
    #heroPtextO{
        font-size: 1.4rem;
        line-height: 26px;
    }
}

@media(min-width:1536px){
    #heroPtext{
        font-size: 5rem;
        line-height: 80px;
    }

    #heroNav h1,#heroNav h1 a{
        font-size: 1.2rem;
    }
    #heroPtextO{
        right: 10rem;
        width: 18%;
        font-size: 1.2rem;
        line-height: 26px;
    }
}

@media(min-width:1659px){
    #heroPtext{
        width: 80%;
        font-size: 7rem;
        line-height: 150px;
    }
    #navCenter h1 a{
        color: #23022E;
    }
    #heroPtextO{
        right: 8rem;
        width: 22%;
        font-size: 1.4rem;
        line-height: 30px;
    }
}